<mat-toolbar fxLayout>
  <mat-toolbar-row>
    <div fxLayoutAlign="center center" fxLayoutGap="10px">
      <img class="logo" src="https://www.google.com/a/khyateh.com/images/logo.gif" alt="Khyateh Logo" />
      <span>Angular Material ngRx Forms Router Demo</span>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxLayoutGap="10px">
      <button mat-icon-button>
        <mat-icon class="header-icon" routerLink="/">home</mat-icon>
      </button>
      <button *ngIf="isAuth$ | async" routerLink="/movies/search" mat-icon-button>
        <mat-icon class="header-icon">search</mat-icon>
      </button>
      <button *ngIf="isAuth$ | async" routerLink="/signout" (click)="logout()" mat-raised-button mat-raised-button color="accent">
        Sign Out
        <mat-icon class="header-icon">exit_to_app</mat-icon>
      </button>
      <button *ngIf="!(isAuth$ | async)" routerLink="/signup" mat-raised-button color="accent">
        Register
        <mat-icon class="header-icon">person_add</mat-icon>
      </button>
      <button *ngIf="!(isAuth$ | async)" routerLink="/signin" mat-raised-button color="accent">
        Sign In
        <mat-icon class="header-icon">person</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>