<header>
  <mat-toolbar color="primary" fxLayout>
    <mat-toolbar-row>
      <span>Angular Material ngRx Forms Demo</span>
      <div fxFlex fxLayout fxLayoutAlign="end">
        <button mat-icon-button>
          <mat-icon class="header-icon" routerLink="/">home</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="header-icon" routerLink="/signin">person</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="header-icon" routerLink="/signup">add</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>