<aside style="margin-top: 64px">
      <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                  <mat-panel-title>
                        <span>Main Menu</span>
                  </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list style="padding: 0px !important; width: 100%">
                  <mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" fxLayout="column" fxLayoutAlign="end end" fxFlexAlign="end" *ngFor="let menuItem of menuItems">
                        <a matLine routerLink="{{menuItem.link}}">
                              {{menuItem.name}}
                        </a>
                  </mat-list-item>
            </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                  <mat-panel-title>
                        <span>Theme</span>
                  </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list style="padding-top: 0px !important">
                  <mat-list-item fxLayout="column" fxLayoutAlign="end end" 
                  fxFlexAlign="end" 
                  [class.active]="(theme$ | async ) == 'container'">
                        <a matLine (click)="setTheme('container')">
                              Default
                        </a>
                  </mat-list-item>
                  <mat-list-item [class.active]="(theme$ | async ) == 'container indigo'" 
                  fxLayout="column" fxLayoutAlign="end end" fxFlexAlign="end">
                        <a matLine (click)="setTheme('container indigo')">
                              Indigo Light
                        </a>
                  </mat-list-item>
                  <mat-list-item [class.active]="(theme$ | async ) == 'container bluegray'" 
                  fxLayout="column" fxLayoutAlign="end end" fxFlexAlign="end">
                        <a matLine (click)="setTheme('container bluegray')">
                              Blue Gray Dark
                        </a>
                  </mat-list-item>
                  <mat-list-item [class.active]="(theme$ | async ) == 'container deeppurple'" 
                  fxLayout="column" fxLayoutAlign="end end" fxFlexAlign="end">
                        <a matLine (click)="setTheme('container deeppurple')">
                              Deep Purple Light
                        </a>
                  </mat-list-item>
                  <mat-list-item [class.active]="(theme$ | async ) == 'container amber'" 
                  fxLayout="column" fxLayoutAlign="end end" fxFlexAlign="end">
                        <a matLine (click)="setTheme('container amber')">
                              Amber Dark
                        </a>
                  </mat-list-item>
            </mat-nav-list>
      </mat-expansion-panel>
</aside>