.container {
    height: 100%;
}

.sideNavContainer {
    background-color: darkslategray;
    overflow-y: auto; 
}

.bodyContainer {
  padding: 20px;
  width: 100%;
  height: calc(100% - 64px);
  overflow-y: auto;
}
