.bodyContainer {
  padding: 10px;
  margin-top: 64px;
  height: calc(100% - 64px);
  overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .is-mobile {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }

  .sideNavContainer {
      flex: 1;
  }

  
  .is-mobile .sideNavContainer {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  
  .toggleSideNav {
      position: absolute;
      left: 10px;
      top: 10px;
      z-index: 3;
  }

  @mixin left-nav-main-theme($theme) {
    // Extract whichever individual palettes you need from the theme.
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    
    .mat-sidenav {
      background-color: mat-color($primary);
  }
  .toggleSideNav {
    background-color: mat-color($accent);
  }
  }