$s-min: 60;
$s-max: 70;
$l-min: 70;
$l-max: 90;

@for $i from 1 through 100 {
.movie-card:nth-child(#{$i}) {
    width: 200px;
    margin-bottom: 10px;
    background-color: hsl(random(360),$s-min+random($s-max+-$s-min),$l-min+random($l-max+-$l-min));
  }
}