.header-icon {
  padding: 0 14px;
}

.topNav {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  z-index: 2;
}

.logo {
  border: 2px solid #70a898;
  color: #70a999;
  letter-spacing: 0.71px;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  text-transform: uppercase;
  margin-left: 40px;
  background-color: white;
}

.mat-toolbar-multiple-rows {
  min-height: 64px !important;
}
