@import '~@angular/material/theming';

@import 'app//nav/left-nav/left-nav.component.scss';
@import 'app/movies/search-movies/search-movies.component.scss';
@import 'app/app.component.scss';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$ng-app-primary: mat-palette($mat-teal);
$ng-app-accent:  mat-palette($mat-lime);

// The warn palette is optional (defaults to red).
$ng-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ng-app-theme: mat-light-theme($ng-app-primary, $ng-app-accent, $ng-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ng-app-theme);

@include left-nav-theme($ng-app-theme);
@include left-nav-main-theme($ng-app-theme);

@include search-movies-theme($ng-app-theme);

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-green);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

$indigo-primary: mat-palette($mat-indigo);
$indigo-accent:  mat-palette($mat-gray);
$indigo-warn:    mat-palette($mat-deep-orange);
$indigo-theme:   mat-light-theme($indigo-primary, $indigo-accent, $indigo-warn);

$deeppurple-primary: mat-palette($mat-deep-purple);
$deeppurple-accent:  mat-palette($mat-orange);
$deeppurple-warn:    mat-palette($mat-deep-orange);
$deeppurple-theme:   mat-light-theme($deeppurple-primary, $deeppurple-accent, $deeppurple-warn);

$amber-primary: mat-palette($mat-amber);
$amber-accent:  mat-palette($mat-blue-gray);
$amber-warn:    mat-palette($mat-deep-orange);
$amber-theme:   mat-dark-theme($amber-primary, $amber-accent, $amber-warn);

.bluegray {
  @include angular-material-theme($dark-theme);
  @include left-nav-theme($dark-theme);
  @include left-nav-main-theme($dark-theme);
  @include search-movies-theme($dark-theme);
}

.indigo {
    @include angular-material-theme($indigo-theme);
    @include left-nav-theme($indigo-theme);
    @include left-nav-main-theme($indigo-theme);
    @include search-movies-theme($indigo-theme);
  }

  .deeppurple {
    @include angular-material-theme($deeppurple-theme);
    @include left-nav-theme($deeppurple-theme);
    @include left-nav-main-theme($deeppurple-theme);
    @include search-movies-theme($deeppurple-theme);
  }

  .amber {
    @include angular-material-theme($amber-theme);
    @include left-nav-theme($amber-theme);
    @include left-nav-main-theme($amber-theme);
    @include search-movies-theme($amber-theme);
  }
