<div class="home" fxLayoutAlign="start start" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px">
  <section>
    <h1>Dashboard</h1>
    <p>A few charts, sections, resuable components emebedded</p>
  </section>
  <section>
    <h1>Movies</h1>
    <p>Full featured movies list from tmdb api with sort, filters</p>
  </section>
  <section>
    <h1>Forms</h1>
    <p>Angular reactive forms with validations, dynamic styling...</p>
  </section>
  <section>
    <h1>ToDo</h1>
    <p>A simple ToDo using Firebase and AngularFire</p>
  </section>
</div>
<div *ngIf="!(isAuth$ | async)">
  <h2>You need to be logged in to access all of above. If you do not have a login, then please
    <button mat-button routerLink="/signup">
      Register
    </button>
    first.</h2>
</div>

<div *ngIf="isAuth$ | async">
  <h2>
    <-- You are already signed in please use the menu on the left to access the required features....</h2>
</div>
